
$desktop-width: 1280px;
$tablet-width: 768px;
$mobile-width: 320px;


$wrapper-padding-sides: 40px;
$wrapper-padding-top: 80px;
$wrapper-padding-bottom: 100px;



$start-screen-gradient-background: #000;
$footer-gradient-background: #111;


$color-light-xl:#FFFFFF;
$color-light-l:#F6F6F6;
$color-light-s:#FAFAFA;

$color-dark-s:#CDCDCD;
$color-dark-m:#B2B2B2;
$color-dark-l:#545454;
$color-dark-xl:#4C4C4C;
$color-dark-2xl:#444;
$color-dark-3xl:#292929;

$color-primary:#F1CDB3;
$color-primary-light:#FDDCC4;
