@mixin font($size, $line-height, $letter-spacing: normal, $weight: 400){
    font-size: $size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    font-weight: $weight;
}


@mixin wrapper-padding( $wrapper-padding-top: 80px,
                        $wrapper-padding-bottom: 100px,
                        $wrapper-padding-sides: 40px)
{
    padding: $wrapper-padding-top $wrapper-padding-sides $wrapper-padding-bottom;
}


@mixin media-desktop{
    @media (max-width: $desktop-width) { @content; }
}

@mixin media-tablet{
    @media (max-width: $tablet-width) { @content; }
}

@mixin media-mobile{
    @media (max-width: $mobile-width) { @content; }
}
