.about {
  .wrapper {
    @include wrapper-padding();

    display: grid;
    grid-template-areas:
    "about__image about__image about__content about__content about__content";


    @include media-tablet{
        @include wrapper-padding(80px, 100px, 165px);

        grid-template-areas:
                            "about__content"
                            "about__image";
        justify-items: center;

    }

  }
}

.about__image {
  width: 300px;
  margin-left: 175px;

  grid-area: about__image;


    @include media-tablet{
      margin-left: 0;
      margin-top: 80px;
    }
}

.about__content {
  max-width: 430px;
  height: 380px;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: start;
  grid-gap: 25px;
  align-self: center;

  grid-area: about__content;

  // Pixel Perfect //
  margin-left: 3px;
  @include media-tablet{
    margin-left: 0;
  }
}
