.donation{
    .wrapper{
        @include wrapper-padding();
        background-color: $color-light-l;

        display: flex;
        justify-content: center;
        column-gap: 30px;
        align-items: center;

        color: $color-dark-l;

        /* Pixel Perfect */
        margin-top: 2px;


        @include media-tablet{
            @include wrapper-padding(78px, 100px, 131px);

            flex-direction: column-reverse;
            row-gap: 60px;

        }


    }
}


.donation__image{
    width: 505px;
    height: 261px;
}

.donation__content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;

    width: 380px;
}




.donation__bank-card-number{
    display: flex;
    column-gap: 15px;

    padding: 10px 15px;

    background-color: $color-primary;
    border-radius: 9px;
    cursor: pointer;
}

.bank-card-number__ico{
    background-image: url(../assets/icons/credit-card.svg);
    width: 30px;
    height: 23px;
}

.bank-card-number__text{
    color: $color-dark-l;
}