.our-pets{
    .wrapper{
        @include wrapper-padding();
        background-color: $color-light-l;

        display: flex;
        flex-direction: column;
        row-gap: 60px;
        align-items: center;
    }
}


.slider-large__heading{
    text-align: center;
}



.slider-large__content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 30px;
}

.slider-large__controls{
    display:flex;
    column-gap: 20px;
}
